.main_content {
    margin-left: 20px;
    overflow: scroll;
}

.title_menu {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* Dashboard
   ========================================================================== */
.dashboard--section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--dashboardBackgroundColor);
  overflow: hidden;
}
.dashboard--container {
  width: 100%;
  height: 100%;
  padding: 64px;
}
.dashboard--heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    border-radius: 32px;
    padding: 16px;
    text-transform: uppercase;
    transition: var(--duration) ease-in-out;
    border: 1px solid var(--backgroundColor);
    color: var(--backgroundColor);
    background-color: inherit;

    &:hover {
      background-color: var(--backgroundColor);
      color: var(--primaryColor);
    }

    svg {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
}


/* Sidebar
   ========================================================================== */
.sidebar--section {
  padding: 16px 64px;
  border-right: 2px solid var(--primaryLightColor);
}
.sidebar--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  li {
    margin: 16px 0;
  }
}
.sidebar--heading {
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--backgroundColor);
  }
}
.sidebar--item {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: var(--backgroundColor);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  transition: var(--duration) ease-in-out;
  border-radius: 4px;

  &:hover {
    background-color: var(--primaryLightColor);
  }
}
.item--destructive {
  color: var(--red)
}

/* Team
   ========================================================================== */
.team--section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--dashboardBackgroundColor);
}
.team--container {
  width: 100%;
  padding: 64px;
}
.team--wrapper {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.team--card {
  background-color: var(--primaryColor);
  padding: 16px;
  border-radius: 16px;
  transition: var(--duration) ease-in-out;
  text-align: center;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px -3px rgba(0, 0, 0, .05);
  }
}
.team--info {
  p {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 0 0;
  }
}
.team--image {
  img {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
}

/* Event
   ========================================================================== */
.event--wrapper {
  width: 100%;
}
.event--container {
  max-height: calc(90vh - 128px);
  overflow: scroll;
}
.event--card {
  display: block;
  height: 325px;
}
.event--card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--primaryColor);
  border-radius: 16px;
  padding: 32px;
  margin: 16px 0;
}
.event--image {
  max-width: 50%;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    max-height: 300px;
    max-width: 50%;
    border-radius: 8px;
    object-fit: cover;
  }
}
.event--info {
  svg {
    margin-right: 8px;
  }
}
.event--cta {
  font-size: 12px;
  font-weight: bold;
  border-radius: 32px;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: var(--duration) ease-in-out;
  border: 1px solid var(--backgroundColor);
  color: var(--backgroundColor);
  background: inherit;

  &:hover {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
  }
}