.sidebar {
  border-right: 1px solid rgb(216, 216, 216);
}

.sidebar-links {
  margin-top: 10vh;
  height: 40vh;
}

.sidebar-links a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
