@import "page/dashboard";
@import "page/login";
@import "page/main";
// Components
@import "components/navbar";
@import "components/addUser";


:root {
    --bodyFont: "Biotif", sans-serif;
    --headingFont: "Neuzeit Grotesk Bold", sans-serif;
    --codeFont: "Fira Code", monospace;

    --primaryColor: #fff;
    --primaryLightColor: #F2F4F7;
    --secondaryColor: #8f9ba8;
    --backgroundColor: #000;
    --dashboardBackgroundColor: #f9fafe;
    --commandColor: rgba(255, 255, 255, 0.05);
    --hoverColor: #212024;

    --gradientDegree: 135deg;
    --yellow: #ffff80;
    --pink: #ff80bf;
    --purple: #9580ff;
    --red: #FF3B30FF;
    --orange: #ffca80;
    --green: #8aff80;
    --cyan: #80ffea;

    --navHeightDesktop: 60px;
    --navHeightMobile: 110px;
    --borderRadius: 8px;

    --duration: 0.2s;
}

* {
    font-family: var(--bodyFont);
}

html,
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;


ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    margin: 0;
}
.wrapper {
    background: var(--backgroundColor);
}

}

.text--center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex--column {
    flex-direction: column;
}
.flex--row {
    flex-direction: row;
}
.ai--center {
    align-items: center;
}
.jc--flex-start {
    justify-content: flex-start;
}
.ml--48 {
    margin-left: 48px;
}